@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Work Sans;
}
/* Nav Style */
nav {
  max-width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 350px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.menu {
  display: flex;
  align-items: center;
  gap: 32px;
  cursor: pointer;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}
.menu li{
    list-style-type: none;
    color: #3C354F;
}
.logo {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 700;
}
.logo img {
}
.logo span {
  color: #ff42a5;
}
.logo h2 {
  text-align: center;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
}

.follow {
    display: flex;
    justify-content: center;
    align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 5px 10px 5px 10px;

}
.follow img{
    width 30px;
    height: 40px;
    align-items: center;
    align-content: center;
}
.follow span{
    margin-right: 10px;
}


/*Header style*/

.header-container{
  max-width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.description{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-content: center;
}
.header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 padding-left: 50px;
}
.title{
color: #0B0223;
text-align: center;
font-size: 3rem;
font-weight: 600;
}
.goat{
  font-size: 5.9rem;
font-style: normal;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.text{
  color: #534C64;
text-align:start;
font-size: 1.25rem;
font-weight: 500;
padding-top: 20px;
}

.btn{
  padding-top: 41px;
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
}
.primary-btn1{
  font-size: 1.25rem;
  padding: 15px 30px;
  border-radius: 48px;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
border: none;
color: #fff;

}
.primary-btn2{
  font-size: 1.25rem;
  padding: 15px 30px;
  border-radius: 48px;
  background: #4EC5F7;
  border: none;
  color: #fff;

}

/* gamer section style */
.gamer{
  max-width: 100%;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.text-div{
  text-align: right;
}
.we-are{
  font-size: 3rem;
font-style: normal;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-bottom: 24px;
}
.desc{
  color: #534C64;
font-size: 1.25rem;
font-weight: 400;
padding-bottom: 24px;

}
.text-div h3{
  padding-top: 10px;
  color: #0B0223;
font-size: 1.5rem;
font-weight: 600;
}
.text-div h4{
  padding-top: 20px;
  color: #0B0223;
font-size: 1.2rem;
font-weight: 500;
}

/* Main section */

/* funny videos */
.main-container{
  max-width: 100%;
  text-align: center;
  padding-top: 120px;
}
.main-container h2{
  font-size: 3rem;
  font-weight: 700;
  color: #0B0223;
  padding-bottom: 15px;
}
.videos-container{
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 48px;
}
.videos-container p{
  text-align: start;
}
.video img{
  border-radius: 8px;
}


/* Play Instantly Section */
.play-container{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.relative-img{
  position: relative;
  left: 150px;
  top: 80px;
  width: 250px;
}
.text-container{
  text-align: right;
  color: #0B0223;
}
.text-container h2{
  font-size: 3rem;
  padding-bottom: 24px;
}
.text-container h2 span{
color: #F948B2;
}

/* Online Games */
.online-container{
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 250px;
}
.relative-img2{
  position: relative;
  right: 150px;
  top: 90px;
  width: 250px;
}
.text-container2{
  text-align: left;
  color: #0B0223;
}
.text-container2 h2{
  font-size: 3rem;
  padding-bottom: 24px;
}
.text-container2 h2 span{
color: #F948B2;
}
.main-img{
  width: 500px;
}
/* Careers */
.career-container{
  margin-top: 300px;
  display: flex;
  height: 820px;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  padding-left: 80px;
}
.left{
 
  text-align: left;
}
.left h2{
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.left p{
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
.right img{
width: 800px;
}
.left-col , .right-col{
  font-size: 1rem;
  color: #FFF;
  font-weight: 500;
  line-height: 40px;
  margin-top: 20px;
}
.right-col{
  text-align: right;
}
.left .primary-btn2{
  margin-top: 50px;
  font-size: medium;
  font-weight: 600;
  color: #ff42a5;
  background-color: #FFF;
}
.col{
  display: flex;
  justify-content: space-between;
}
/* Games Type Style */
.type-container{
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  max-width: 100%;
  height: 150px;
  padding: 200px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  gap: 50px;

}
.type{
  display: flex;
  gap: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 50px;
  border: 2px solid transparent;
  align-items: center;
  border: 2px solid transparent;
  justify-content: center;
  cursor: pointer;
}
.type p{
  font-size: 1rem;
font-style: normal;
font-weight: 600;
}
.type img{
  width: 40px;
}
.type:hover{
  color: #FF42A5;
  border: 2px solid #F948B2;
}

/* Footer Style */
footer{
  padding:100px 0px ;
  width: 100%;
  background: #0B0223;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
footer .logo{
  color: #fff;
}
.anchor{
  display: flex;
  gap: 30px;
}
.anchor a{
  text-decoration: none;
  color: #FFF;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
}
.footer-icon{
  display: flex;
  gap: 20px;
  padding:15px 0 ;
}
.footer-icon img{
  width: 30px;
}
.light-anchor{
  display: flex;
  gap: 20px;
}
.light-anchor a{
  text-decoration: none;
  color: gray;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.copyright{
  color: gray;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}
.hidden{
  display: none;
}
/* Media Query [Responsive for smartphone] */

@media screen and (max-width:576px) {
  /* Navigation Bar */
  nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 70px 0px;
    justify-content: space-between;
    margin-bottom: 50px;
    box-shadow: none;
  }
  nav .logo{
    gap: 20px;  
  }
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  /* header */
  .header-container{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }
  .header-img img {
    width: 100%;
  }
  .title{
  font-size: 2rem;
 
  }
  .goat{
    font-size: 3rem;
  }
  .text{
  font-size: 1rem;
  }
  .btn{
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
  .primary-btn1{
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  border: none;
  color: #fff;
}
  .primary-btn2{
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #fff;
  
  }
  /* gamer section */
.gamer{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-div{
  text-align: center;
}
.img-div img{
 width: 300px;
  height: 100%;
}

  /* Funny Videos  */
  .main-container h2 , .we-are{
    font-size: 2rem;
  }
  .videos-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
.videos-container .desc{
  text-align: center;
}
  /* play Instantly */
  .play-container{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
.text-container{
  text-align: center;
}
.text-container .desc{
  padding-bottom: 20px;
}
.text-container h2{
  font-size: 2rem;
}
.main-img{
  align-items: center;
  width: 350px;
}
.relative-img{
  width: 200px;
  left: 200px;
  top: 400px;
}
/* online play */
.online-container{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.text-container2{
text-align: center;
}
.text-container2 .desc{
  padding-bottom: 200px;
  font-size: 1.3rem;
}
.text-container2 h2{
  font-size: 2rem;
}
.main-img2{
align-items: center;
width: 350px;
}
.relative-img2{
width: 200px;
left: 190px;
top: -170px;

}
/* Career responsive style */
.career-container{
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 50px 0px 50px 10px;
}
.career-container .desc{
  font-size: 0.9rem;
  padding-right: 5px;
}
.left{
  
}
.col{
  flex-direction: row;
  padding: 20px;
}
.left-col , .right-col{
  text-align: left;
}
.right img{
  padding-top: 50px;
  width: 400px;
}

/* Game type */
.type-container{
  margin-top: 10px;
  height: 100%;
  display: grid;
  margin: 0;
  padding: 60px ;
  grid-template-columns: repeat(2, 1fr);
}
.type{
  padding: 10px;
}
.type img{
  width: 25px;
}
.type p{
  font-size: 0.6rem;
}

  /* Footer responsive */
  footer .logo{
    font-size: 2rem;
  }
  .anchor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .light-anchor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .anchor a{
    font-size: 1rem;
  }
  .light-anchor a{
    font-size: 0.8rem;
  }
  .footer-icon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }

}
